<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>王台南手工冰淇淋</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-4.0.0.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	 <link rel="preload" href="img/homebg1.jpg" as="image">
	 <link rel="preload" href="img/homebg2.jpg" as="image">
	 <link rel="preload" href="img/homebg3.jpg" as="image">
	 <link rel="preload" href="img/homebg4.jpg" as="image">

  </head>
  <body>
	<img class="add" src="img/addCart.png" alt="">
	<span id="menubtn">&#9776;</span>
	  <nav class="menu">
	  	<ul>
			<li><a href="#home">首　　頁</a></li>
	  		<li><a href="#about">關於我們</a></li>
	  		<li><a href="#event">最新活動</a></li>
	  		<li><a href="#shop">商品一覽</a></li>
	  		<li><a href="#contact">聯絡我們</a></li>
	  		<li><a href="#login">會員登入</a></li>
	  		<li><a class="cart" href="#cart">購物車</a></li>
	  	</ul>
	  </nav>
    <section id="home">
	 <div class="container_fluid h-100">
	 	<div class="row h-100">
	 		<div class="col-sm-3 grid-center">
				<div class="page">
					<h2>/01</h2>
				</div>
			</div>
			<div class="col-sm-6 grid-center">
				<a href="#about">
					<div class="titlebx">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>	
			</div>
	 		<div class="col-sm-3 grid-center">
				<div class="slogan">
					<ul>
						<li>經典傳承好手藝</li>
						<li>夏季甜蜜好滋味</li>
						<li>解暑必備美食 就在</li>
						<li>王台南手工冰淇淋</li>
					</ul>
					<a href="#about">
					<button class="btn btn-outline-light" type="button">read more</button>
					</a>
				</div>
			</div>
	 	</div>
	 </div> 
	 </section>
	<section id="about">
	  	<div class="contaienr_fluid h-100">
	  		<div class="row h-100">
	  			<div class="col-sm-4 flex-center">
	  				<div class="ab-box">
						<span>01</span>
						<div>
							<h2>手工冰淇淋的魅力</h2>
							<p>老店販賣的冰品選項雖然不多，卻足以讓人一吃成主顧。平日口味有草莓、芒果、香蕉、巧克力、芋頭等，冰冰涼涼又充滿懷舊的味道，獨創手藝讓冰淇淋更加綿密，讓人一口接一口。</p>
						</div>
					</div>
	  			</div>
	  			<div class="col-sm-4 flex-center">
	  				<div class="ab-box ab-imgbx">
						<span>02</span>
					<div>
							<h2>關於我們</h2>
							<p>傳統的專業技術與上等原料，搭配著嚴謹的製程步驟，用雕塑藝術的心情來完成作品，王台南冰淇淋聞名於台南，絕對不是浪得虛名，而是實至名歸，它創造前所未有的幸福口感，令世人難以忘懷。</p>
						</div>
					</div>
	  			</div>
	  			<div class="col-sm-4 flex-center">
	  				<div class="ab-box">
						<span>03</span>
					<div>
							<h2>我們的理想</h2>
							<p>為顧客打造安全的食用環境，為台南宣傳傳統美食，充滿誠心的經營，與堅持手做冰淇淋，秉持著永續發展的理念，食材皆選用最天然的植物。</p>
						</div>
					</div>
	  			</div>
	  		</div>
	  	</div>
	  </section>
    <section id="event">
	  	<div class="container_fluid h-100">
<!--			row1-->
	  		<div class="row event-row pt-3">
	  			<div class="col-sm-6 grid-right pr-5">
					<div class="item">
						<div class="event-box event-imgbx1" href="#event1"></div>
						<img class="check-img" src="img/event1.png" alt="">
					</div>
				</div>
	  			<div class="col-sm-6 grid-left pl-5">
					<div class="event-box" href="#event1">
						<div>
							<h3>開心農場</h3>
							<p>想知道冰淇淋的原料來源嗎?帶你直擊農場擠牛乳的過程，...... <a href="#event1">查看更多</a></p>
						</div>
					</div>
				</div>
	  		</div>
<!--			row2-->
			<div class="row event-row">
	  			<div class="col-sm-4 grid-right">
				<div class="event-box" href="#event2">
					<div>
						<h3>趣味採草莓</h3>
						<p>大顆飽滿的草莓，是做冰淇淋最好的原料，也是最受顧客歡迎的原因之一...... <a href="#event2">查看更多</a></p>
					</div>
				</div>
				</div>
<!--				joinbx-->
	  			<div class="col-sm-4 grid-center">
					<div class="join-box flex-center ">
						<div class="event" id="event1">
							<h3>開心農場</h3>
							<p>想知道冰淇淋的原料來源嗎?帶你直擊農場擠牛乳的過程，還可以與可愛的牛牛互動喔，心動就行動吧!</p>
							<a href="#join"><button class="btn" type="button">報名活動</button></a>
						</div>
						<div class="event" id="event2">
							<h3>趣味採草莓</h3>
							<p>大顆飽滿的草莓，是做冰淇淋最好的原料，也是最受顧客歡迎的原因之一，親自體驗採草莓可現場為您製作冰淇淋。</p>
							<a href="#join"><button class="btn" type="button">報名活動</button></a>
						</div>
						<div class="event" id="event3">
							<h3>冰淇淋DIY</h3>
							<p>想親自體驗製作冰淇淋的樂趣嗎?王台南最新開辦DIY教室要開課啦!歡迎各位大人小朋友報名參加，製作屬於自己的冰淇淋。</p>
							<a href="#join"><button class="btn" type="button">報名活動</button></a>
						</div>
					</div>
				</div>
<!--				row2-->
				<div class="col-sm-4 grid-left">
					<div class="item">
						<div class="event-box event-imgbx2" href="#event3"></div>
						<img class="check-img" src="img/event3.png" alt="">					
					</div>
				</div>
	  		</div>
<!--			row3-->
			<div class="row event-row pb-3">
	  			<div class="col-sm-6 grid-right pr-5">
					<div class="item">
						<div class="event-box event-imgbx3" href="#event2"></div>
						<img class="check-img" src="img/event2.png" alt="">
					</div>
				</div>
	  			<div class="col-sm-6 grid-left pl-5">
				<div class="event-box" href="#event3">
					<div>
						<h3>冰淇淋DIY</h3>
						<p>想親自體驗製作冰淇淋的樂趣嗎?王台南最新開辦DIY教室...... <a href="#event3">查看更多</a></p>
					</div>
				</div>
				</div>
	  		</div>
	  	</div>
	  </section>
    <section id="shop">
	  <div class="container mt-4">
			<div class="row">
				<div class="col-sm-4 flex-center">
					<p>人氣系列/</p>
					<select class="view-switch">
						<option value="1">經典香草</option>
						<option value="2">蘭姆葡萄</option>
						<option value="3">奶油蜜糖</option>
					</select>
				</div>
				<div class="col-sm-4 flex-center">
					<p>店長推薦/</p>
					<select class="view-switch">
						<option value="4">黑芝麻</option>
						<option value="5">香蕉可可</option>
						<option value="6">香濃芋頭</option>
					</select>
				</div>
				<div class="col-sm-4 flex-center">
					<p>最新上架/</p>
					<select class="view-switch">
						<option value="7">苦甜巧克力</option>
						<option value="8">戀戀草莓</option>
						<option value="9">芒果雪酪</option>
						<option value="10">甜蜜蘋果</option>
					</select>
				</div>
			</div>
		</div>
		<div class="container_fluid h-100">
			<div class="row pd-main" id="app">
				<div class="page-icon">
					<a href="#home"><img src="img/top.png" alt=""></a>
					<a class="cart" href="#cart"><img src="img/cart.png" alt=""></a>
					<span>{{num}}</span>
				</div>
				
				<div id="cart" class="lightboxs">
					<table class="table">
						<thead>
							<tr>
								<th colspan="4">購物車</th>
								<th class="close-cart">x</th>
							</tr>
						</thead>
						<tbody v-for="product in productInCart">
							<tr>
								<td><img  class="cart-img" :src="product.thumb" alt=""></td>
								<td colspan="3" class="name"><h4>{{product.name}}</h4></td>
								<td><button class="btn" type="button" @click="remove(product)">x</button></td>
							</tr>
							<tr>
								<td colspan="4">單價</td>
								<td>{{product.price}}</td>
							</tr>
							<tr>
								<td colspan="4">數量</td>
								<td>{{product.amount}}</td>
							</tr>
							<tr>
								<td colspan="4">小計</td>
								<td class="sum">${{product.sum}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4">總計</td>
								<td class="total">${{total}}</td>
							</tr>
							<tr>
								<td>
									<button class="btn checkout cart-btn" type="button">前往付款</button>
								<td>
							</tr>
						</tfoot>
					</table>
				</div>
				
				<div class="col-sm-9">
					<div class="row h-100 tab" :id="[product.id]" v-for="product in products">
						<div class="col-sm-5 pd-imgbx flex-center">
							<img :src="product.thumb" alt="">
						</div>
						<div class="col-sm-7 grid-center p-5">
							<div>
								<div>
									<h2>{{product.name}}</h2>
									<p>{{product.content}}</p>
								</div>
								<div class="price-box">
									<h4>價格:{{product.price}} <span class="heart">&#10084;</span></h4>
								</div>
								<div class="flex-around">
									<div class="action-box">
										<button class="btn round" type="button" @click="minusOne(product)">-</button>
										<span>&nbsp;{{product.amountShow}}&nbsp;</span>
										<button class="btn round" type="button" @click="addOne(product)">+</button>
										<button class="btn addToCart" type="button" @click="addToCart(product)">加入購物車</button>
									</div>
									<div class="product-slogan">
										<img src="img/slogan1.png" alt="">
										<img src="img/slogan2.png" alt="">
										<img src="img/slogan3.png" alt="">
										<img src="img/slogan4.png" alt="">
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-sm-3 flex-center">
					<img src="img/timeline.png" alt="" id="timeline">
				</div>
			</div>
			<div class="row">
				<div class="block-container">
					<img src="img/product1.png" href="#tab1" alt="" class="block">
					<img src="img/product2.png" href="#tab2" alt="" class="block">
					<img src="img/product3.png" href="#tab3" alt="" class="block">
					<img src="img/product4.png" href="#tab4" alt="" class="block">
					<img src="img/product5.png" href="#tab5" alt="" class="block">
					<img src="img/product6.png" href="#tab6" alt="" class="block">
					<img src="img/product7.png" href="#tab7" alt="" class="block">
					<img src="img/product8.png" href="#tab8" alt="" class="block">
					<img src="img/product9.png" href="#tab9" alt="" class="block">
					<img src="img/product10.png" href="#tab10" alt="" class="block">
				</div>
			</div>
		</div>
	  </section>
    <section id="contact">
	  	<div class="container_fluid h-100">
	  		<div class="row h-100">
	  			<div class="col-sm-6">
	  				<form action="">
						<h2>聯絡我們</h2>
						<div class="form-group">
							<label for="">姓名</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<label for="">電話</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<label for="">信箱</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
							<label for="">意見回饋</label>
							<textarea class="form-control" rows="5"></textarea>
						</div>
						<div class="form-group flex-around">
							<button class="btn" type="button">送出</button>
							<button class="btn" type="button">清空</button>
						</div>
					</form>
	  			</div>
	  			<div class="col-sm-6">
	  				<form action="">
						<h2>有獎徵答</h2>
						<h3>有機會獲得活動體驗券</h3>
						<div class="form-group">
							<label for="">我們老闆的名字是?</label>
							<select class="form-control">
								<option value="">王台北</option>
								<option value="">王台南</option>
								<option value="">王台中</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">我們的理念?</label>
							<select class="form-control">
								<option value="">堅持優質原料製作</option>
								<option value="">以永續經營為目標</option>
								<option value="">以上皆是</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">我們沒舉辦過什麼活動?</label>
							<select class="form-control">
								<option value="">冰淇淋DIY</option>
								<option value="">開心農場</option>
								<option value="">橘子摘摘樂</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">我們的冰淇淋是如何製作的?</label>
							<select class="form-control">
								<option value="">手做</option>
								<option value="">機械</option>
								<option value="">以上皆否</option>
							</select>
						</div>
						<div class="form-group flex-center">
							<a href="#login"><button class="btn mt-5 contact-check" type="button">送出</button></a>
						</div>
					</form>
	  			</div>
	  		</div>
	  	</div>
	 </section>
	  <footer>
	  	<div class="container_fluid h-100">
	  		<div class="row h-100 p-3">
	  			<div class="col-sm-4">
					<h4>快速導覽</h4>
						<p><a href="#home">首頁</a></p>
						<p><a href="#about">關於我們</a></p>
						<p><a href="#event">最新活動</a></p>
						<p><a href="#shop">商品一覽</a></p>
						<p><a href="#contact">聯絡我們</a></p>
				</div>
	  			<div class="col-sm-4">
					<h4>店家資訊</h4>
					<div class="info mx-auto">
						<p><span><img class="footer-icon" src="img/phone.png" alt=""></span>客服電話: (02)1234-5678</p>
						<p><span><img class="footer-icon" src="img/mail.png" alt=""></span>客服信箱: a123@gmail.com</p>
						<p><span><img class="footer-icon" src="img/search.png" alt=""></span>客服ID: a001</p>
					</div>
				</div>
	  			<div class="col-sm-4">
					<h4>訂閱電子報</h4>
					<p>追蹤我們 查看最新資訊</p>
					<div class="info mx-auto">
						<div class="form-group flex-around">
							<input type="text" class="form-control w-75">
							<button class="btn checkout" type="button">訂閱</button>
						</div>
						<div class="form-group flex-around">
							<img class="social" src="img/fb.png" alt="">
							<img class="social" src="img/gmail.png" alt="">
							<img class="social" src="img/line.png" alt="">
						</div>
					</div>
				</div>
	  		</div>
	  	</div>
	  </footer>
<!------- login	   -->
	  	<form class="lightbox" id="login">
			  <h3>會員登入</h3>
	  		<div class="form-group">
				<label for="">帳號</label>
				<input type="text" required>
			</div>
	  		<div class="form-group">
				<label for="">密碼</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<p>還不是會員?<a href="#reg">註冊</a></p>
			</div>
			<div class="form-group">
				<p>使用其他方式登入</p>
				<div class="flex-around">
					<img class="social" src="img/fb.png" alt="">
					<img class="social" src="img/gmail.png" alt="">
					<img class="social" src="img/line.png" alt="">
				</div>
			</div>
			<div class="form-group">
			<button class="btn checkout" type="submit">登入</button>
			<a href="#" class="btn lightbox-close"><button class="btn" type="button">關閉</button></a>
			</div>
		  </form>
<!--------- reg -->
		  <form class="lightbox" id="reg">
			<h3>會員註冊</h3>
			<div class="form-group">
			  <label for="">姓名</label>
			  <input type="text" required>
		  </div>
			<div class="form-group">
			  <label for="">信箱</label>
			  <input type="text" required>
		  </div>
		  <div class="form-group">
				<label for="">帳號</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<label for="">密碼</label>
				<input type="text" required>
			</div>
			<div class="form-group">
				<p>已經是會員?<a href="#login">登入</a></p>
			</div>
		  <div class="form-group">
		  <button class="btn checkout" type="submit">註冊</button>
		  <a href="#" class="btn lightbox-close"><button class="btn" type="button">關閉</button></a>
		  </div>
		</form>
<!------ join -->
		<form class="lightbox" id="join">
			<h3>活動報名</h3>
			<div class="form-group">
			<label for="">姓名</label>
			<input type="text" required>
		</div>
			<div class="form-group">
			<label for="">信箱</label>
			<input type="text" required>
		</div>
		<div class="form-group">
			<label for="">電話</label>
			<input type="text" required>
		</div>
		<div class="form-group flex-around">
			<label for="">報名種類</label>
			<select class="form-control w-50">
				<option value="">開心農場</option>
				<option value="">趣味採草莓</option>
				<option value="">冰淇淋DIY</option>
			</select>
		</div>
		<div class="form-group">
			<label for="">人數</label>
			<input type="number" min="1" max="9">
		</div>
		<div class="form-group">
		<button class="btn checkout" type="submit">報名</button>
		<a href="#" class="btn lightbox-close"><button class="btn" type="button">關閉</button></a>
		</div>
		</form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.2.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.0.0.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/all.js"></script>
	<script src="js/cart.js"></script>
  </body>
</html>
